<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaymentFeeCalculator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PaymentFeeCalculator.Properties.Settings>
            <setting name="PaypalPorciento" serializeAs="String">
                <value>3.95</value>
            </setting>
            <setting name="PaypalFija" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Paypal3MSI" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="Paypal6MSI" serializeAs="String">
                <value>7.25</value>
            </setting>
            <setting name="Paypal9MSI" serializeAs="String">
                <value>11.25</value>
            </setting>
            <setting name="Paypal12MSI" serializeAs="String">
                <value>13.5</value>
            </setting>
            <setting name="SenorPorciento" serializeAs="String">
                <value>3.6</value>
            </setting>
            <setting name="SenorFija" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Senor3MSI" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Senor6MSI" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Senor9MSI" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Senor12MSI" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MercadolibrePorciento" serializeAs="String">
                <value>17.5</value>
            </setting>
            <setting name="MercadopagoPorciento" serializeAs="String">
                <value>3.19</value>
            </setting>
            <setting name="MercadopagoFija" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Mercadopago3MSI" serializeAs="String">
                <value>3.97</value>
            </setting>
            <setting name="Mercadopago6MSI" serializeAs="String">
                <value>6.47</value>
            </setting>
            <setting name="Mercadopago9MSI" serializeAs="String">
                <value>9.24</value>
            </setting>
            <setting name="Mercadopago12MSI" serializeAs="String">
                <value>12.31</value>
            </setting>
            <setting name="ClipPorciento" serializeAs="String">
                <value>3.6</value>
            </setting>
            <setting name="ClipFija" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Clip3MSI" serializeAs="String">
                <value>4.5</value>
            </setting>
            <setting name="Clip6MSI" serializeAs="String">
                <value>7.5</value>
            </setting>
            <setting name="Clip9MSI" serializeAs="String">
                <value>9.9</value>
            </setting>
            <setting name="Clip12MSI" serializeAs="String">
                <value>11.95</value>
            </setting>
            <setting name="TasaIVA" serializeAs="String">
                <value>16</value>
            </setting>
        </PaymentFeeCalculator.Properties.Settings>
    </userSettings>
</configuration>